*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #93D8DB;
    color:antiquewhite;
}

.gameImgs {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}